<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-3 mx-3" href="javascript:void(0)">TeamTrack</a>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto fw-bold">
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/master" routerLinkActive="active">Master</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/employee" routerLinkActive="active">Employee</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/client" routerLinkActive="active">Clients</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link" routerLink="/client-project" routerLinkActive="active">Projects</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-danger mx-3 my-2 fw-bold" type="button" (click)="logOut()">LogOut</button>
    </div>
  </nav>