<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-dark text-white text-uppercase fw-bold">
                Employee List
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Email ID</th>
                            <th>Designation</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (employee of employeeList; track $index) {
                            <tr>
                                <td>{{employee.empId}}</td>
                                <td>{{employee.empName | titlecase}}</td>
                                <td>{{employee.empCode}}</td>
                                <td>{{employee.empEmailId}}</td>
                                <td>{{employee.empDesignation | uppercase}}</td>
                                <td>{{employee.role}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>