.tt{
    margin-top: 175px;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 1px;
}
.tp{
    font-size: 13px;
    margin-top: -12px;
}

input{
    border: 1px solid grey;
    max-width: 500px;
    width: 100%;
}

button{
    width: 490px;
}

.input-class{
    margin: 0 auto !important;
}
